In [12]:
print('hello Riyaz')

hello Riyaz

In [14]:
print('hello Pratyusha')

hello Pratyusha

### 1. Data Types

In [20]:
type(78)      # +1, -1,0

int

In [21]:
type(3.14)     # 3.14

float

In [22]:
type('Ashish') #  "Ashish"

str

In [26]:
type(True)

bool

### 2. Arithematic Operations

In [50]:
# Int & Floats

print('-------INT-------')
print(75 + 15)    # Add
print(75 - 15)    # Sub
print(75 * 15)    # Mul
print(75 / 15)    # Div
print(75 // 15)   # Quo
print(75 % 15)    # Mod
print(2 ** 15)   # Pow

print('-------STR-------')
print('Ashish ' * 2)
print('Ashish' + 'Jangra')

-------INT-------
90
60
1125
5.0
5
0
32768
-------STR-------
Ashish Ashish
AshishJangra

### 3. Variables

In [68]:
a = 5
b = 15


print(a +  b)    # Add
print(a -  b)    # Sub
print(a *  b)    # Mul
print(a /  b)    # Div
print(a // b)    # Quo
print(a %  b)    # Mod

20
-10
75
0.3333333333333333
0
5

### 4. Typecasting

In [104]:
print(int(77.4))
print(int('73'))
print(int(False))
print(int(float('3.14')))
print('---')
print(float(77))
print(float('73'))
print(float(True))
print(float('3.14'))
print('---')
print(str(77))
print(str(73.2))
print(str(True))
print('---')
print(bool(77))
print(bool(0.0))
print(bool('0'))

77
73
0
3
---
77.0
73.0
1.0
3.14
---
77
73.2
True
---
True
False
True

### 5. User Input

In [115]:
a =  34 # int(input("Enter first number : "))
b =  68 # int(input('Enter second number : '))


print(a,'+' ,b,'=',a +  b)    # Add
print(a,'-' ,b,'=',a -  b)    # Sub
print(a,'*' ,b,'=',a *  b)    # Mul
print(a,'/' ,b,'=',a /  b)    # Div
print(a,'//',b,'=',a // b)    # Quo
print(a,'%' ,b,'=',a %  b)    # Mod

34 + 68 = 102
34 - 68 = -34
34 * 68 = 2312
34 / 68 = 0.5
34 // 68 = 0
34 % 68 = 34

### 6. Conditions

In [157]:
age = 100

if ((age >= 0) and (age <= 120)):  
    if (age >= 18):
        print('Eligible for Voting')
    else:
        print('Not Eligible for Voting')
else:
    print('Not a valid Age')

Eligible for Voting

In [169]:
a = 30

if (a%5==0) or (a%3==0):
    print('Divisible')
else:
    print('Not Divisible')

Divisible

### 7. For Loop

In [204]:
num = 19

for i in range(1,11):
    print(num,'*',i ,'=', i * num)

print('---------------')
    
for i in range(10,0,-1):
    print(num,'*',i ,'=', i * num)

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190
---------------
19 * 10 = 190
19 * 9 = 171
19 * 8 = 152
19 * 7 = 133
19 * 6 = 114
19 * 5 = 95
19 * 4 = 76
19 * 3 = 57
19 * 2 = 38
19 * 1 = 19

### 8. Nested For Loop

In [226]:
c = 0

for i in range(1,7):
    for j in range(1,7):
        for k in range(1,7):
            if (((i+j+k) <= 13) == 0):
                c = c + 1
                
print(35/216)

0.16203703703703703

### 9. Data Structure - List

In [273]:
lst = [23,76,84,65,76,84,34,54,84]

In [274]:
for i in range(len(lst)):
    if (84 == lst[i]):
        print('present', i)

present 2
present 5
present 8

### 10. Data Structure - Dictionary

In [307]:
dct = {2 : 'Sudhir',
       3 : 'Ayush',
       4 : 'Ashish',
       1 : 'Rejsekhar',
       5 : 'Ashish'}

print(dct)

{2: 'Sudhir', 3: 'Ayush', 4: 'Ashish', 1: 'Rejsekhar', 5: 'Ashish'}

In [305]:
dct[1]

'Rejsekhar'

In [ ]:
['Welcome', 'to', 'GFG']