### 1. Initialising Dictionaries

In [123]:
dct = {1001 : 'Ashish', 1002 : 'Ratima', 1003 : 'Treetha', 1004 : 'Alok', 1005 : 'Bhagwat'}

for key in dct.keys():
  print(key, ':' , dct[key])

print('----------')

{1001: 'Ashish',
 1002: 'Ratima',
 1003: 'Treetha',
 1004: 'Alok',
 1005: 'Bhagwat'}

### 2. Initialising Multi-Dimensional Dictionaries

In [159]:
dct = {1001 : {'name' : 'Ashish'  , 'phone' : 4239480923, 'eng' : 67, 'hin' : 34, 'mth' : 55, 'sci' : 65},
       1002 : {'name' : 'Ratima'  , 'phone' : 2374872934, 'eng' : 88, 'hin' : 76, 'mth' : 66, 'sci' : 87},
       1003 : {'name' : 'Treetha' , 'phone' : 2374823849, 'eng' : 95, 'hin' : 96, 'mth' : 77, 'sci' : 78},
       1004 : {'name' : 'Alok'    , 'phone' : 8594385034, 'eng' : 78, 'hin' : 87, 'mth' : 88, 'sci' : 99},
       1005 : {'name' : 'Bhagwat' , 'phone' : 8534085093, 'eng' : 88, 'hin' : 79, 'mth' : 99, 'sci' : 88}}


for key in dct.keys():
  print('Name   :', dct[key]['name'])
  print('Roll   :', key)
  print('Mobile :', dct[key]['phone'])
  print('Total  :', dct[key]['eng'] + dct[key]['hin'] + dct[key]['mth'] + dct[key]['sci'])
  print('Perct  :', (dct[key]['eng'] + dct[key]['hin'] + dct[key]['mth'] + dct[key]['sci'])/4)

  dct[key]['total'] = dct[key]['eng'] + dct[key]['hin'] + dct[key]['mth'] + dct[key]['sci']
  dct[key]['perc']  = (dct[key]['eng'] + dct[key]['hin'] + dct[key]['mth'] + dct[key]['sci'])/4

  print('------------------')

  # break

Name   : Ashish
Roll   : 1001
Mobile : 4239480923
Total  : 221
Perct  : 55.25
------------------
Name   : Ratima
Roll   : 1002
Mobile : 2374872934
Total  : 317
Perct  : 79.25
------------------
Name   : Treetha
Roll   : 1003
Mobile : 2374823849
Total  : 346
Perct  : 86.5
------------------
Name   : Alok
Roll   : 1004
Mobile : 8594385034
Total  : 352
Perct  : 88.0
------------------
Name   : Bhagwat
Roll   : 1005
Mobile : 8534085093
Total  : 354
Perct  : 88.5
------------------