### 1. Initialising Lists

In [46]:
name   = ['Ashish'  , 'Ritima','Treetha','Alok','Bhagwat']
reg_no = [1001      , 1002, 1003, 1004, 1005]
phone  = [4239480923, 2374872934, 237482384923, 8594385034, 85340850934]
eng    = [67        , 88, 95,78 , 88]

### 2. Access the Elements

##### 2.1) Direct Access

In [47]:
print(name[1])
print(name[-4])

for i in name:
  print(i)

Ritima
Ritima
Ashish
Ritima
Treetha
Alok
Bhagwat

##### 2.2) Via Indexing

In [48]:
for i in range(len(name)):
  print(i, name[i])

0 Ashish
1 Ritima
2 Treetha
3 Alok
4 Bhagwat

### 3. Printing the Data of all the Users one by One

In [49]:
for i in range(len(name)):
  print('Name   :', name[i])
  print('Roll   :', reg_no[i])
  print('Mobile :', phone[i])
  print('Eng    :', eng[i])
  print('---------------')

Name   : Ashish
Roll   : 1001
Mobile : 4239480923
Eng    : 67
---------------
Name   : Ritima
Roll   : 1002
Mobile : 2374872934
Eng    : 88
---------------
Name   : Treetha
Roll   : 1003
Mobile : 237482384923
Eng    : 95
---------------
Name   : Alok
Roll   : 1004
Mobile : 8594385034
Eng    : 78
---------------
Name   : Bhagwat
Roll   : 1005
Mobile : 85340850934
Eng    : 88
---------------

### 4. Writing Everything in 1 List

In [109]:
record = [['Ashish'  , 'Ritima'  ,'Treetha'    ,'Alok'     ,'Bhagwat'],
          [1001      , 1002      , 1003        , 1004      , 1005],
          [4239480923, 2374872934, 237482384923, 8594385034, 85340850934],
          [67        , 88        , 95          ,78         , 88]]

record = [['Ashish' , 1001 ,42394809238,67],
          ['Ritima' , 1002 ,32374872934,88],
          ['Treetha', 1003 ,23748238492,95],
          ['Alok'   , 1004 ,85943850344,78],
          ['Bhagwat', 1005 ,85340850934,88]]

for user in record:
  print('Name   :', user[0])
  print('Roll   :', user[1])
  print('Mobile :', user[2])
  print('Eng    :', user[3])
  print('---------------')

Name   : Ashish
Roll   : 1001
Mobile : 42394809238
Eng    : 67
---------------
Name   : Ritima
Roll   : 1002
Mobile : 32374872934
Eng    : 88
---------------
Name   : Treetha
Roll   : 1003
Mobile : 23748238492
Eng    : 95
---------------
Name   : Alok
Roll   : 1004
Mobile : 85943850344
Eng    : 78
---------------
Name   : Bhagwat
Roll   : 1005
Mobile : 85340850934
Eng    : 88
---------------

In [113]:
s = 0
for user in record:
  s += user[3]
print(s/len(record))

83.2