In [3]:
import time
import numpy as np
import pandas as pd
from tqdm import tqdm
from bs4 import BeautifulSoup
from selenium import webdriver

browser = webdriver.Chrome('/Users/ashishzangra/opt/anaconda3/lib/python3.9/site-packages/chromedriver_binary/chromedriver')

/var/folders/rq/lwddjvtn5n9gjw05hwrg3hp80000gp/T/ipykernel_25003/387473377.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Chrome('/Users/ashishzangra/opt/anaconda3/lib/python3.9/site-packages/chromedriver_binary/chromedriver')

In [67]:
data = []

for page in tqdm(range(1,4128)):    # Going through each page 4128

    link = 'https://www.naukri.com/jobs-in-india-' + str(page)
    browser.get(link)
    time.sleep(1)
    soup = BeautifulSoup(browser.page_source, 'html.parser')
    
    for job in soup.find_all('article', class_ = 'jobTuple'):     # Going through each job posted
    
        try:
            job_id          = job.get('data-job-id').strip()
        except:
            job_id          = np.nan
        try:
            job_role        = job.find('a' , class_ = 'title ellipsis').text.strip()
        except:
            job_role        = np.nan   
        try:    
            job_link        = job.find('a' , class_ = 'title ellipsis').get('href')
        except:
            job_link        = np.nan  
        try:
            reviews         = job.find('div', class_ = 'companyInfo subheading').find('a', class_ = 'reviewsCount fleft').text.strip()
        except:
            reviews         = np.nan   
        try:    
            rating          = job.find('div', class_ = 'companyInfo subheading').find('span').text.strip()
        except:
            rating          = np.nan 
        try:
            company         = job.find('div', class_ = 'companyInfo subheading').find('a', class_ = 'subTitle ellipsis fleft').text.strip()
        except:
            company         = np.nan    
        try:
            company_link    = job.find('div', class_ = 'companyInfo subheading').find('a').get('href')
        except:
            company_link    = np.nan    
        try:
            experience      = job.find('span', class_ = 'ellipsis fleft expwdth').text.strip()
        except:
            experience      = np.nan    
        try:
            salary          = job.find('span', class_ = 'ellipsis fleft').text.strip()
        except:
            salary          = np.nan   
        try:
            location        = job.find('span', class_ = 'ellipsis fleft locWdth').text.strip()
        except:
            location        = np.nan  
        try:
            resposibilities = ','.join([i.text.strip() for i in job.find('ul',class_ = 'tags has-description').find_all('li')])
        except:
            resposibilities = np.nan
        try:
            posted_on       = job.find('div',class_ = 'tupleTagsContainer').text.strip()
        except:
            posted_on       = np.nan


        data.append([job_id, job_role, company, experience,salary,location,rating,reviews,
                     resposibilities, posted_on ,job_link, company_link])

100%|█████████████████████████████████████████████| 4/4 [00:13<00:00,  3.32s/it]

In [62]:
df = pd.DataFrame(data, columns = ['job_id', 'job_role', 'company', 'experience','salary','location',
                                   'rating','reviews','resposibilities', 'posted_on' ,'job_link', 
                                   'company_link'])

df.head()

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,070123006070,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",Few Hours Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,060123905908,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32096 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,060123905898,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32096 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,060123905897,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32096 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,060123008332,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3756 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

In [66]:
df.to_csv('jobs.csv', index = False)